body {
    background-color: ligt;
    font-family: Arial, sans-serif;
}

.lista {
    width: 500px;
    margin: auto;
    border: 2px solid black;
    background-color: lightyellow;
}

.lista2 {
    border: 2px solid black;
    background-color: lightyellow;
    margin: 5px;
 padding: 5px 5px 5px 5px;
}

.titulo {
    text-align: center;
    font-size: 30px;;
}

.modo-prep {
    font-size: 10px;
}


.imagem {
    width: 350px;
    height: 200px;
    display: block;
    margin: auto;
    border: 2px solid black;
}

.pudim {
    background-color: lightyellow;
    padding: 10px;
    border: 1px solid black;
}

.preparo {
    font-size: ;
    background-color: lightyellow;
    padding: 10px;
    border: 1px solid black;
}

.info {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    padding: 10px;
    border: 1px solid black;
}

.texto {
   background-color: lightyellow;
    padding: 10px;
    border: 1px solid black;
}

.ext {
    ont-size: ;
    background-color: lightyellow;
    padding: 10px;
    border: 1px solid black;
}